@import "../../breakpoints";

.fireSpawner {
  &__icon {
    $animation-duration: 6s;

    width: 50px;
    @media (min-width: $breakpoint-lg) {
      width: 70px;
    }
    animation: become-visible calc($animation-duration / 2) ease-in-out,
      both slide-up $animation-duration linear,
      side-moves 1s ease-in-out infinite;
    position: absolute;
    left: 0;
    bottom: 0;

    @keyframes become-visible {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes slide-up {
      to {
        bottom: 100%;
      }
    }

    @keyframes side-moves {
      0% {
        transform: translateX(10px);
      }
      50% {
        transform: translateX(-10px);
      }
      100% {
        transform: translateX(10px);
      }
    }
  }
}
