$mount-animation-duration: 2s;

.clicker {
  &__clickBtn {
    @keyframes gradient-animation {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 100% 100%;
      }
      100% {
        background-position: 0 0;
      }
    }

    border: none;
    color: white;
    transition: all 0.2s;
    background: var(--clickButton-gradient);
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
    background-size: 200% 200%;

    height: 60px;
    width: 120px;
    font-size: 2rem;

    @keyframes mount-animation {
      from {
        opacity: 0;
        transform: scale(0.2);
        margin-top: 10vh;
      }
      to {
        opacity: 1;
        transform: none;
        margin-top: 0;
      }
    }

    animation: mount-animation $mount-animation-duration ease,
      gradient-animation 3s ease-in-out infinite;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        scale: 1.2;
      }
    }

    &:active {
      transition-duration: 0.1s;
      scale: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__totalClicks {
    margin-bottom: 40px;
    animation: both mount-animaton $mount-animation-duration 1s;

    @keyframes mount-animaton {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &__clicksValue {
    padding: 0 5px;
    border-radius: 5px;
  }
}
