$mount-animation-duration: 2s;

.clicker {
  body.theme-fire & {
    animation: var(--shake-animation);
  }

  &__clickBtn {
    @keyframes gradient-animation {
      0% {
        background-position: left;
      }
      50% {
        background-position: right;
      }
      100% {
        background-position: left;
      }
    }

    border: none;
    color: white;
    transition: all 0.2s;
    background: var(--clickButton-gradient);
    border-radius: 15px;
    font-weight: 500;
    background-size: 300%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.364);
    height: 60px;
    width: 120px;
    font-size: 2rem;
    position: relative;
    overflow: hidden;

    @keyframes mount-animation {
      from {
        opacity: 0;
        transform: scale(0.2);
        margin-top: 10vh;
      }
      to {
        opacity: 1;
        transform: none;
        margin-top: 0;
      }
    }

    animation: mount-animation $mount-animation-duration ease,
      gradient-animation 5s ease-in-out infinite;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        scale: 1.2;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.364),
          0 0 40px rgba(0, 0, 0, 0.321);
        letter-spacing: 0.5px;
        border-radius: 5px;

        &::before {
          transition: all 1s;
          left: 110%;
        }
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        background: linear-gradient(
          to right,
          transparent,
          rgba(255, 255, 255, 0.3)
        );
        width: 50%;
        top: 0;
        left: -100%;
        filter: blur(5px);
        transform: skewX(-20deg);
      }
    }

    &:active {
      transition-duration: 0.1s;
      scale: 0.9;
    }

    &:focus {
      outline: none;
    }
  }

  &__totalClicks {
    margin-bottom: 40px;
    animation: both mount-animaton $mount-animation-duration 1s;

    @keyframes mount-animaton {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &__clicksValue {
    padding: 0 5px;
    border-radius: 5px;
  }
}
