.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 10px 0 10px;
  @media (min-width: 1024px) {
    padding: 20px 20px 0 20px;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    @media (min-width: 700px) {
      margin-left: 70px;
    }
    width: max-content;

    body.theme-fire & {
      animation: var(--shake-animation);
    }

    &__title {
      margin: 0;
    }
  }

  &__themeToggleButton {
    justify-self: end;
    align-self: center;
    border: none;
    background-color: var(--themeToggleButton-color);
    border-radius: 10px;
    transition: all 0.3s;
    box-sizing: border-box;
    display: flex;
    place-items: center;
    padding: 8px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--themeToggleButton-hoverColor);
      }
    }

    body.theme-fire & {
      display: none;
    }
  }

  img {
    width: 30px;
  }
}
