.header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    width: 30px;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 70px;
    width: max-content;

    &__title {
      margin: 0;
    }
  }

  &__themeToggleButton {
    width: max-content;
    justify-self: end;
    margin: 20px 40px 0 0;
    border: none;
    background-color: var(--themeToggleButton-color);
    padding-top: 5px;
    border-radius: 10px;
    transition: all 0.3s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--themeToggleButton-hoverColor);
      }
    }

    body.theme-fire & {
      display: none;
    }
  }
}
