@import "breakpoints";

:root {
  font-size: 17px;
  @media (min-width: $breakpoint-lg) {
    font-size: 20px;
  }
  font-family: system-ui, sans-serif;
  --app-background: linear-gradient(135deg, #a8edea, #fed6e3);
  --app-fontColor: rgb(9, 17, 80);
  --clickButton-gradient: linear-gradient(45deg, #fc466b, #3f5efb);
  --clickButton-shadowColor: #a9b0c9;
  --timebar-color: grey;
  --themeToggleButton-color: white;
  --themeToggleButton-hoverColor: rgb(213, 213, 213);
  --shake-animation: none;
  --text-shadow: 0 0 3px white;
}

body {
  margin: 0;
  overflow: hidden;

  &.theme-dark {
    --app-background: linear-gradient(
      135deg,
      rgb(21, 0, 60) 44.2%,
      rgb(0, 42, 139)
    );
    --app-fontColor: white;
    --clickButton-gradient: linear-gradient(45deg, #4776e6, #8e54e9);
    --timebar-color: white;
    --themeToggleButton-color: black;
    --themeToggleButton-hoverColor: rgb(33, 33, 33);
    --text-shadow: 0 0 5px black;
  }

  &.theme-fire {
    --app-background: linear-gradient(
      135deg,
      rgb(255, 185, 33),
      rgb(240, 141, 54)
    );
    --app-fontColor: black;
    --clickButton-gradient: linear-gradient(45deg, #fc8072, rgb(255, 67, 67));
    --timebar-color: black;
    --shake-animation: shake 0.2s ease-in infinite;
    --text-shadow: 0 0 3px white;
  }
}

#app {
  min-height: 100vh;
  color: var(--app-fontColor);
  background: var(--app-background);
  background-size: 400% 400%;
  animation: bg-animation 25s infinite ease;
  position: relative;

  @keyframes bg-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

header,
main,
footer {
  z-index: 1;
  position: relative;
}

button {
  font-family: inherit;
  cursor: pointer;
}

@keyframes shake {
  0% {
    translate: none;
  }
  50% {
    translate: 5px -5px;
  }
  100% {
    translate: none;
  }
}
