.progressContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;

  .progressBarGroup {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 50px;
    animation: shake 0.2s ease-in infinite;

    &__progressBar {
      width: 300px;
      height: 40px;
      background: linear-gradient(to right, #f5af19, #f12711);
      align-items: center;
      border: 1px solid black;
    }

    &__progressLine {
      float: right;
      height: 100%;
      background-color: white;
      transition: width 0.05s;
    }

    &__progressValue {
      margin: 0;
      font-size: 1.3rem;
      font-style: italic;
      font-weight: 700;
    }
  }

  &__timebar {
    width: 150px;
    height: 10px;
    margin-left: auto;

    @keyframes timebar-shrink {
      from {
        width: 100%;
      }
      to {
        width: 0%;
      }
    }

    @mixin timebar-colors($theme) {
      @if $theme == "light" {
        background-color: grey;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border: 1px solid black;
      }
    }

    &__progress {
      height: 100%;
      width: 100%;
      transition: width 0.1s;
      animation: timebar-shrink 4s linear;
      border-radius: 5px;
      @include timebar-colors("light");
    }
  }
}
